! Xterm
XTerm*faceName:         monospace
XTerm*faceSize:         8
XTerm*background:       #000000
XTerm*foreground:       #aaaaaa
XTerm*cursorColor:      #ffffff
XTerm*cursorBlink:      false
XTerm*saveLines:        5000
XTerm*scrollBar:        false
XTerm*bellIsUrgent:     true
XTerm*borderWidth:      0

! Clipboard
XTerm*VT100.translations: #override \
    Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>V: insert-selection(CLIPBOARD)

! Farben
XTerm*color0:           #000000
XTerm*color1:           #cc0000
XTerm*color2:           #4e9a06
XTerm*color3:           #c4a000
XTerm*color4:           #3465a4
XTerm*color5:           #75507b
XTerm*color6:           #06989a
XTerm*color7:           #aaaaaa
XTerm*color8:           #555555
XTerm*color9:           #ef2929
XTerm*color10:          #8ae234
XTerm*color11:          #fce94f
XTerm*color12:          #729fcf
XTerm*color13:          #ad7fa8
XTerm*color14:          #34e2e2
XTerm*color15:          #ffffff